body {
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.main-container {
    background-color: white;
    width: 335px;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 5rem 0.5rem hsla(212, 23%, 69%, 0.515);
}

.img-container {
    background-image: url(images/drawers.jpg);
    background-size: cover;
    height: 220px;
    border-radius: 1rem 1rem 0 0;
}

.text-container {
    padding: 2rem 2rem 0 2rem;
}

h1 {
    margin-top: 0;
    color: hsl(217, 19%, 35%);
    font-size: 1.05rem;
}

p {
    color: hsl(214, 17%, 51%);
    font-size: 0.86rem;
    margin-bottom: 2rem;
}

.info-container {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0 2rem;
    margin: 1.5rem 0;
}

;

.info-container p {
    margin: 0;
}

.detail-container {
    padding-right: 2.2rem;
}

#share {
    display: none;
    align-items: center;
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin: 0;
}

#name {
    display: block;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin: 0;
}

#date {
    display: block;
    color: hsl(212, 23%, 69%);
    margin: 0;
}

.icon {
    display: none;
    height: 1.25rem;
    padding-left: 1rem;
}

#img-protral {
    display: block;
    border-radius: 50%;
}

.icon-container {
    margin-top: 0.2rem;
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
}

.icon-container:hover {
    background-color: hsl(214, 17%, 51%);
    cursor: pointer;
}

.icon-container:hover #img-share {
    fill: white;
}

#img-share {
    fill: #6E8098;
    width: 1rem;
}

footer {
    margin-top: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}